<div class="container">
  <div class="row">
    <div class="col-md-4" ng-repeat="user in uc.users">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">{{user.name}}</h3>
        </div>
        <div class="panel-body">
          <div>
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true">{{user.role}}</span>
          </div>
          <div>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true">{{user.location}}</span>
          </div>
          <div>
            <span class="glyphicon glyphicon-link" aria-hidden="true">{{user.twitter}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
